@import url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/lol-fonts.css);

:root {
    --bg-color: #1a1d21;
}

body{
    font-family: Beaufort for LOL,serif;
    letter-spacing: .03em;
    color: #f0e6d2;
    background-color: var(--bg-color);
    margin: 0;
    min-width: 720px;
}
body > *{
    background-color: transparent;
    font-weight: 500;
    font-size: 22px;
    margin: 0;
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

main{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
}

h1{
    font-size: 15vw;
    text-align: center;
    margin:0;
    margin-top: 25vw;
}

h2{
    font-size: 13vw;
    text-align: center;
}

h3{
    font-size:40px;
}

.subtitle{
    color: #a3997e;
    margin-top:10px;
    font-size:16px;
}

section{
    max-width: 720px;
    margin: 0 auto 0;
    padding-left: 20px;
    padding-right: 20px;
    /*To make sure "background images" won't overlap other divs*/
    z-index: 0;
}

section.title{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    max-width: none;
    box-shadow:0 8px 8px #000;
    /*This is done to center the text verticaly & horizontally*/
    display:flex;
    align-items:center;
    justify-content: center;
    /*This makes the viewer won't be able to scroll through this div*/
    overflow:hidden;
}

section.title > img.titleimg{
    object-fit: cover;
    width: 100%;
    z-index: -2;
    position: absolute;
    filter: none;
}

section.title.stars > img.titleimg{
    transform: scale(1.5);
    top: 0%;
    filter: brightness(40%);
}

p {
    text-indent: 30px;
}

.bgimg{
    background-size: cover;
    z-index: -1;
    width: 100vw;
    left: 0px;
    top: 0px;
    position: absolute;
}

.sideimg{
    width: 40%
}

.quoteimg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute;
    filter: brightness(70%) blur(2px);
    
}

.quoteSection{
    padding: 0;
    margin: 0;
    height:60vw;
    position:relative;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    
}


/*Adds the little fading black gradients at bottom and top*/
/*The div is only rendered if it has "content" so we give it a fake one hehe*/

:root{
    --bar-size:calc(100%/4);
}

/*Bottom one*/
.quoteSection::after{
    background-image:linear-gradient(transparent, var(--bg-color));
    position: absolute;
    width: 100%;
    height: var(--bar-size);
    bottom: 0px;
    z-index: -1;
    
    content: " "
}
/*Top one*/
.quoteSection::before{
    background-image:linear-gradient(var(--bg-color), transparent);
    position: absolute;
    width: 100%;
    height: var(--bar-size);
    z-index: -1;
    
    content: " "
}

.quotetext{
    text-indent: 0px;
    text-align: center;
    padding-top: 16vw;
    margin-bottom: 10px;
    font-size:6vw;
    color: #e79c62;
    font-weight: 700;
    /*text-shadow:2px 2px 0 #444;*/
    padding-left:30px;
    padding-right:30px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
.quotesource{
    text-align:center;
    margin-top:5px;
    font-size: 2vw;
    text-shadow:2px 2px 0 #444;
}

section.stars > img.sideimg{
    width: 100%;
    position: absolute;
    z-index: -1;
    
    filter: saturate(0.1) brightness(40%);
}

section.stars > p, .intro > p{
    text-align: justify;
    text-justify: inter-word;
}


/*Ahri*/

/*When the screen is small*/
@media screen and (max-width: 720px){
    section.ahri.stars > img.sideimg{
        width: 500%;
        left: -200vw;
        transform: translateY(-55vw);
    }
}

@media screen and (min-width: 720px){
    section.ahri.stars > p{
        margin-left: 200px;
    }

    section.ahri.stars > h3{
        text-align: center;
    }

    section.ahri.stars > img.sideimg{
        left: -34vw;
        transform: scale(2) translateY(5vw);
    }
}

.quoteSection.ahri > p.quotetext{
    color: #e1d291;
}

.ahritext2{
    color: #e275d2;
}



/*Akali*/

@media screen and (min-width: 720px){
    section.akali.stars > p{
        margin-right: 200px;
    }
    section.akali.stars > h3{
        text-align: center;
    }
}

/*When the screen is small*/
@media screen and (max-width: 720px){
section.akali.stars > img.sideimg{
    width: 500%;
    left: -200vw;
    transform: translateY(-55vw);
}
}

/*When the screen is big*/
@media screen and (min-width: 720px){
    section.akali.stars > img.sideimg{
        left:27vw;
        transform: scale(2) translateY(6vw);
    }
}